h1.thankyou {
	font-size: 55px;
	color: royalblue;
}

th, td{
   	border: 1px solid black;
}

td {
	text-align: center;
}

div.center {
	text-align: center;
	width: 800px;
}
table.center {
	text-align: center;
	margin: auto;
	border: 1px solid black;
}

span.center {
	text-align: center;
	margin: auto;
	font-size: 35px;
	color: royalblue;
}

span {
	color: royalblue;
}

h1, h2, h3 {
	color: royalblue;
}

body {
	background-color: salmon;
}