h1.thankyou {
	font-size: 55px;
	color: blue;
}

th, td{
   	border: 1px solid black;
}

td {
	text-align: center;
}

div.center {
	text-align: center;
	width: 800px;
}
table.center {
	text-align: center;
	margin: auto;
	border: 1px solid black;
}

span.center {
	text-align: center;
}