   body {
      background-color: grey;
   }
   table, th, td{
   	   border: 1px solid black;
   }

   .hello {
   	color: blue;
   	font-family: comic sans ms;
   }

   div.center {
   	text-align: center; 
   	margin: auto; 
   	width: 800px;
   }

   h1.title{
   	color: blue; 
   	font-family: courier;
      font-size: 75px;
   }

   p.intro {
   	font-family: comic sans ms;
   	text-align: left; 
   	color: lime;
   }

   #hello {
   	color: lime;
   	font-size: 15px;
   }

   img.hidden {
      display: none;
   }

   img.seen {
      display: inline;
      border: solid 5px;
      border-color: lime;
   }