   table, th, td{
   	   border: 1px solid black;
   }

   #hello {
   	color: blue;
   	font-size: 75px;
   }

   div.center {
   	text-align: center; 
   	margin: auto; 
   	width: 800px;
   }

   h1.title{
   	color: royalblue; 
   	font-family: courier;
   }

   p.intro {
   	font-family: comic sans ms; ; 
   	color: lime;
   }